extends ../layouts/default

block content
	.container
		.row
			h3.white-text Article Title
			.card.white
				.card-content.black-text
					span.card-title: i Authors
					p Text goes here
				.card-action
					a(href='#') Citation 1
					a(href='#') Citation 1

