extends ../layouts/default

block content
	.container: .jumbotron
		h2 Research Edge
		hr
		form(id="search-form", method="post", autocomplete="on")
			div(id="search-box")
				input(type="submit", value="Go")
				span
					input(name="search-query", type="search", autofocus=true, required=true, placeholder="Search", spellcheck=true)

