extends ../layouts/default

block content
	.container
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.rows
				.card.white
					.card-content.black-text
						form(action='/signin', method='post')
							.form-group(class=validationErrors.username ? 'has-error' : null)
								label Username
								input(type='text', name='username', value=formData.username).form-control
							.form-group
								label Password
								input(type='password', name='password', value=formData.password).form-control
							.form-actions
								button(type='submit').btn.btn-primary Sign in
						a(href='/auth/google') Google

