extends ../layouts/default

block content
	.container
		.rows
			.card.white
				.card-content.black-text
					form(action='/login', method='post')
						.form-group(class=validationErrors.username ? 'has-error' : null)
							label Email Address
							input(type='email', name='email', id='email', value=formData.email).form-control
						.form-group
							label Password
							input(type='password', name='password', id='email').form-control
						.form-actions
							button(type='submit').btn.btn-primary Sign in
					a(href='/auth/google') Google

