#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

// -------------
// Colour-themes

body {
	@extend .grey, .darken-4;
}

.nav-wrapper, .side-nav, .page-footer {
	@extend .blue-grey, .darken-4;
}

nav li > a, footer li > a, footer p {
	@extend .grey-text, .text-lighten-3;
}

footer h5 {
	@extend .white-text;
}
