#search-form {
	width: 100%;
	overflow: hidden;
}

#search-form [type="submit"] {
	float: right
}

#search-form span {
	display: block;
	overflow: hidden;
	padding-right: 5px;
}

#slider_label {
	font-size: 1.0rem;
}

#search_network {
	height: 400px;
	border: 1px solid lightgray;
}

[type='number'] {
	display: none;
}
